@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@font-face {
  font-family: "Cairo";
  src: url("./assets/fonts/Cairo-VariableFont_slnt\,wght.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}
